.minititle-title {
  width: 100%;

 &__minititle {
    color: #8198a4;
    margin: 3rem 0;
    font-size: 1.5rem;
    text-align: center;
  }

  &__title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
  }
}
