.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../../img/hero-image.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-justify: auto;

  &__image {
    width: 100%;
    position: absolute;
    z-index: -999;
  }
  &__title {
    color: white;
    font-size: 5rem;
    padding: 3rem;
  }

  &__information {
    font-size: 1.8rem;
    color: white;
    padding: 0 3rem;
  }

  &--button {
    width: 250px;
    height: 70px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    background: none;
    border: 4px solid #77c6ca;
    margin-top: 50px;
    font-size: 2rem;
    color: #f9f9f9;
    -webkit-box-shadow: 4px 3px 28px -8px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 4px 3px 28px -8px rgba(0, 0, 0, 0.7);
    box-shadow: 4px 3px 28px -8px rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .hero-section {
    align-items: flex-start;
    min-height: 600px;

    &__image {
      width: 100%;
      position: absolute;
      z-index: -999;
    }
    &__title {
      font-size: 8rem;
      padding: 3rem;
      letter-spacing: -2px;
    }

    &__information {
      font-size: 2.4rem;
      padding: 0 3rem;
      width: 800px;
    }
    &--button {
      margin-left: 40vw;
    }
  }
}

@media (min-width: 1025px) {
  .hero-section {
    align-items: flex-start;
    min-height: 800px;
  }
}
