.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../../img/hero-image.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-justify: auto;

  &__title {
    color: white;
    font-size: 5rem;
    padding: 3rem;
  }

  &__information {
    font-size: 1.8rem;
    color: white;
    padding: 0 3rem;
  }

  &--button {
    width: 250px;
    height: 70px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    background: none;
    border: 4px solid #77c6ca;
    margin-top: 10vh;
    font-size: 2rem;
    color: #f9f9f9;
    -webkit-box-shadow: 4px 3px 28px -8px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 4px 3px 28px -8px rgba(0, 0, 0, 0.7);
    box-shadow: 4px 3px 28px -8px rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }
}

@media (min-width: 769px) {
  .hero-section {
    align-items: center;
    min-height: 600px;

    &__title {
      font-size: 8rem;
      padding: 3rem;
      letter-spacing: -2px;
      min-width: 700px;
    }

    &__information {
      font-size: 2.4rem;
      padding: 0 3rem;
      text-align: left;
      min-width: 700px;
    }
  }
}

@media (min-width: 1025px) {
  .hero-section {
    align-items: center;
    min-height: 800px;
    &__title {
      max-width: 1480px;
    }

    &__information {
      max-width: 1480px;
      padding-right: 31%;
    }
  }
}
