.show-info-order-wrapper {
  font-size: 14px;
  border: thin solid #999;
  border-radius: 5px;
  list-style: none;
  margin: 5px;
  padding: 5px;
}

.asign-wrapper {
  width: 100%;
  display: flex;
  gap: 30px;
  margin: 10px;
}
