.show-info-order-wrapper {
  font-size: 14px;
  border: thin solid #999;
  border-radius: 5px;
  list-style: none;
  width: 100%;
  padding: 1rem;
}

.asign-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn {
    width: 8rem;
  }
}
