.review-cards {
  width: 100%;
  position: relative;
  height: 40rem;

  .review-card {
    position: absolute;
    top: 2rem;
    transition: opacity 0.5s;
    opacity: 0;
    padding: 20px;
    background-color: #f0fefe;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);

    &__comment {
      background-color: #fff;
      border-radius: 15px;
      margin-bottom: 20px;
      box-shadow: 0.5px 0.5px 1px #77c6ca;
      h3 {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 10px;
        padding-top: 15px;
      }
      p {
        padding: 15px;
        text-align: justify;
        font-size: 1.5rem;
      }
    }

    &__client {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
    &__picture img {
      height: 100px;
      border-radius: 50%;
    }
    &__name h4 {
      font-size: 1.8rem;
      font-weight: bold;
    }

    &:first-child {
      opacity: 1;
    }
    &:target {
      opacity: 1;
    }
  }
}

@media (min-width: 769px) {
  .review-cards {
    display: flex;
    justify-content: center;

    .review-card {
      width: 40rem;

      &__picture img {
        height: 150px;
        margin-bottom: 1rem;
      }
    }
  }
}
