.disponibility {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;

  form {
    background-color: white;
    display: flex;
    width: 90%;
    max-width: 50rem;
    padding: 2rem;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 2px 50px 2px rgba(0, 0, 0, 0.2);
  }
}
