/* Card con info de usuario*/
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;

  &--desktop {
    margin: 10vh 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user-img {
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-style: solid;
    border-color: #77c6ca;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 100%;
    }
  }

  &__form {
    background-color: white;
    display: flex;
    width: 60rem;
    padding: 2rem;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 2px 50px 2px rgba(0, 0, 0, 0.2);
    position: relative;

    &__change-photo {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 80%;
      position: absolute;

      top: 130px;

      transition: all 0.3s ease-out;
      background-color: transparent;
      pointer-events: none;
      opacity: 0;

      h4 {
        margin-top: 1rem;
      }
    }

    &__group {
      margin: 15px 0 0 0;
      position: relative;
    }

    &__titulo {
      margin-bottom: 0.5rem;
      color: #929292;
      font-size: 1rem;
    }
    &__link {
      text-align: center;
      margin: 2rem 0 1rem 0;

      a {
        text-decoration: none;
        color: #929292;
        font-size: 1.2rem;
      }
      a:hover {
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
      }
    }

    &__input {
      border: 0;
      border-bottom: 1px solid gray;
      padding: 0 10px 5px 0;
      width: 100%;
    }

    &__h2 {
      margin: 30px 0 10px 0;
      font-size: 3rem;
    }

    &__h4 {
      margin: 40px 5px 0 5px;
      font-size: 1rem;
    }

    &__h5 {
      margin: 5px 0 5px 0;
      font-size: 1rem;
    }

    &__btn {
      margin: auto;
      margin-top: 30px;
      width: 120px;
      height: 50px;
      background-color: black;
      color: white;
      font-size: 1.6em;
      font-weight: bold;
      border-radius: 10px;
      border-style: solid;
    }

    &__btn:hover {
      font-size: 2rem;
      cursor: pointer;
    }
  }
}

.is-active-change-photo {
  opacity: 1;
  pointer-events: auto;
}

.info__img {
  display: none;
}
#file {
  font-size: 1.2rem;
  padding-right: 4rem;
}
.i-btn {
  color: green;
  margin-left: -1px;
  border: none;
  position: absolute;
  cursor: pointer;
  animation: grow-animation 2s linear infinite;
}
.i-btn:disabled {
  margin-left: -1px;
  border: none;
  position: absolute;
  animation: none;
  svg {
    cursor: not-allowed;
  }
}
.password-btn {
  margin-left: -25px;
  border: none;
  cursor: pointer;
}
.fa-eye,
.fa-image {
  color: #929292;
}

#old-password,
#new-password {
  font-size: 1.2rem;
  padding-right: 3rem;
}

@media screen and (min-width: 769px) {
  .card--desktop {
    margin: 20px 0 20px 0;
    padding: 1rem;
  }

  .card__form {
    &__titulo,
    &__input {
      font-size: 1.4rem;
    }

    &__h2 {
      font-size: 3rem;
    }

    &__h4,
    &__h5 {
      font-size: 1.7rem;
    }
    &__change-photo {
      top: 270px;
    }
  }

  .info__img {
    border-radius: 0 20px 20px 0;
    display: inline-block;
    width: 40rem;
  }
}

@media screen and (min-width: 1025px) {
  .card__user-img {
    width: 10vw;
    height: 10vw;
    max-width: 10rem;
    max-height: 10rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 100%;
    }
  }
  .card--desktop {
    margin-left: 20px;
  }

  .card__form {
    width: 55vw;
    max-width: 600px;
    padding: 4rem;
    font-size: 1.5rem;

    &__btn {
      width: 210px;
      height: 80px;
    }
  }

  .info__img {
    margin-right: 20px;
  }
  .password-btn {
    margin-left: -15px;
    border: none;
    cursor: pointer;
  }
  .i-btn {
    margin-left: -10px;
    border: none;
    cursor: pointer;
  }
}
