.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 44px;
  background-color: #77c6ca;
  padding: 0.5rem;
  border-top: thin solid white;
  /* Logo */
  &__logo {
    width: 70%;
    padding-left: 2rem;
  }

  &__img {
    height: 40px;
  }

  &__btn-menu {
    margin-right: 2.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-out;
    background-color: #77c6ca;
    border: none;

    /* Estilos Boton Hamburguesa */
    &--1,
    &--2,
    &--3 {
      width: 25px;
      height: 5px;
      background-color: #333;
      margin: 1.5px 0px;
      transition: 0.3s ease-out;
    }
  }
  /* estilos menu */
  &__menu {
    position: fixed;
    align-items: center;
    display: flex;
    font-size: 2.4rem;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: #77c6ca;
    transform: translate(0, 106%);
    opacity: 1;
    right: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    z-index: 998;
  }

  &__a {
    text-decoration: none;
    border-top: 0.1px solid #999;
    width: 100%;
    padding: 10px 0;
    color: #f0fefe;
    display: block;
    transition: all 0.3s ease;
  }

  &__a:nth-child(8) {
    border-bottom: 0.1px solid #999;
  }

  &__a:hover,
  &__login:hover,
  &__register:hover {
    color: #ff5151;
    background-color: #87e7e7;
    font-weight: bold;
  }
  &__login {
    font-size: 1.5rem;
    text-decoration: none;
    padding: 5px;
    color: #f0fefe;
    border: 1px solid white;
    display: inline-block;
    transition: all 0.3s ease;
    margin: 0 1rem;
  }

  &__register {
    font-size: 1.5rem;
    text-decoration: none;
    padding: 5px;
    color: #f0fefe;
    border: 1px solid white;
    background-color: black;
    display: inline-block;
    transition: all 0.3s ease;
    margin: 0 1rem 0 0;
  }

  /* Menu perfil */
  &__perfil {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    position: absolute;

    right: 70px;
    bottom: 45px;

    transition: all 0.3s ease-out;
    background-color: #77c6ca;
    pointer-events: none;
    opacity: 0;
    border: thin solid #999;

    &__a {
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      margin: 7px;
      width: 100%;
      padding-left: 7px;
    }

    &__a:hover {
      font-weight: bold;
    }
  }

  &__cart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    position: absolute;

    right: 70px;
    bottom: 45px;

    transition: all 0.3s ease-out;
    background-color: #77c6ca;
    pointer-events: none;
    opacity: 0;
    border: thin solid #999;

    &__a {
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      margin: 7px;
      width: 100%;
      padding-left: 7px;
    }

    &__a:hover {
      font-weight: bold;
    }
  }
  /* carrito de compras y foto usuario (menu) */
  &__user {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    &__linkto-cart {
      position: relative;
    }
  }

  &__user--cart {
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.877);
    border-radius: 100%;
    padding: 3px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    background-size: contain;
    border-style: double;
    border-color: #77c6ca;
    background-image: url('../../img/icons/casa.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;

    &__quantity {
      display: inline-block;
      width: 18px;
      height: 18px;
      color: #0c0b10;
      font-weight: bold;
      font-size: 1rem;
      text-align: center;
      line-height: 18px;
      border-radius: 50%;
      background-color: #eabf00;
      position: absolute;
      top: 1px;
      right: -3px;
    }
  }

  &__icon {
    height: 22px;
  }

  /* .cart-user img {
  background-color: #fff;
  border-radius: 100%;
  } */
  &__user--user {
    height: 35px;
    width: 35px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 5px;
    cursor: pointer;
    border-style: solid;
    border-color: #77c6ca;

    img {
      height: 100%;
      width: 100%;
      border-radius: 100%;
      object-fit: cover;
    }
  }
}

.change-menu .header__btn-menu--1 {
  transform: rotate(-45deg) translate(3px, -3.5px);
  position: absolute;
}

.change-menu .header__btn-menu--2 {
  opacity: 0;
  transition: 0.1s;
}

.change-menu .header__btn-menu--3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

.is-active {
  opacity: 1;
  transform: translate(0, -57.5%);
}

.is-active-menu-perfil {
  opacity: 1;
  pointer-events: auto;
}
.is-active-menu-cart {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 769px) {
  .header {
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    border-top: 0;

    &__logo {
      /* width: 25%; */
      padding-left: 2rem;
    }

    &__img {
      height: 60px;
    }

    &__btn-menu {
      display: none;
    }

    &__menu {
      position: relative;
      font-size: 1.8rem;
      flex-direction: row;
      transform: none;
      /* width: 70%; */
      z-index: 0;
      transition: color 0s, font-weight 0s;
    }

    &__a {
      border-top: none;
      width: auto;
      padding: 0;
      color: #f0fefe;
      display: block;
      transition: color 0.3s ease;
      margin: 0 10px;
      font-size: 70%;
    }

    &__a:hover,
    &__login:hover,
    &__register:hover {
      background-color: #77c6ca;
    }

    &__a:nth-child(1) {
      width: 138px;
      text-align: right;
      margin-left: 0;
      padding-left: 0;
    }

    &__a:nth-child(8) {
      border-bottom: 0;
    }
    /* menu perfil */
    &__perfil {
      bottom: -151px;
      right: 1px;
    }
    /* carrito de compras y foto usuario (menu) */
    &__user {
      position: relative;
      right: 1rem;
      top: 0;
      flex-direction: row;
      margin-left: 1rem;
    }
    /* .cart-user img {
    background-color: #fff;
    border-radius: 100%;
    } */
    &__user--user {
      height: 45px;
      width: 45px;
    }
    &__cart {
      height: 30px;
      background-color: #fff;
      border-radius: 100%;
      padding: 0 3px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    &__picture {
      height: 40px;
      border-radius: 100%;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
  }
}
