.order {
  min-height: 100%;
  font-size: 1.5rem;
  padding: 4rem 0;

  &__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    .steps {
      width: 100%;
      max-width: 40rem;
      display: flex;
      list-style: none;
      justify-content: space-between;
      align-items: center;
      .step {
        padding-bottom: 0.5rem;
        color: #8b8b8b;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;
        font-size: 1.8rem;
        cursor: not-allowed;
      }
      .active {
        padding-bottom: 3px;
        border-bottom: #77c6ca solid 2px;
        color: #77c6ca;
        cursor: pointer;

        .step-bullet {
          border: #77c6ca solid 2px;
        }
      }
      .step-complete {
        color: #b3d4d6;
        cursor: pointer;

        .step-bullet {
          background-image: url(../../img/icons/checkceleste.svg);
          background-size: 90%;
          background-position: center;
          background-repeat: no-repeat;
          border: #b3d4d6 solid 2px;
        }
      }
      .step-bullet {
        display: inline-block;
        border: #8b8b8b solid 2px;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
      }
      .visible-inline {
        display: inline-block;
      }
      .hidden {
        display: none;
      }
    }
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
  }
  &__form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    max-width: 60rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(116, 116, 116, 0.836);
    padding: 2rem;
    gap: 2rem;
    margin: 0 auto;
  }
  &__resumen {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    height: fit-content;
    width: 100%;
    max-width: 60rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(116, 116, 116, 0.836);
    padding: 2rem;
    gap: 2rem;
    margin: 0 auto;

    &__title {
      font-size: 2rem;
      font-weight: bold;
    }
    &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
      font-size: 2rem;
      color: #77c6ca;
    }
  }
  input {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 1rem;
  }
}
@media (min-width: 769px) {
  .order {
    padding-top: 6rem;
    height: 100%;
    font-size: 1.2rem;

    &__nav {
      .steps {
        max-width: 80rem;
        .step {
          font-size: 1.5rem;
        }
        .step-bullet {
          display: inline-block;
          border: #8b8b8b solid 2px;
          border-radius: 50%;
          width: 2.3rem;
          height: 2.4rem;
        }
        .visible-inline {
          display: none;
        }
        .hidden {
          display: inline-block;
        }
      }
    }
    &__container {
      flex-direction: row;
      justify-content: center;
    }
    &__resumen {
      width: 40rem;
      max-width: 50rem;
      margin: 0;
      position: sticky;
      top: 5rem;
      flex-grow: 0;
    }
    &__form {
      margin: 0;
    }
  }
}
